@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  color: #fff !important;
  font-family: "Poppins";
}
.background {
  background: url("../src/assets/img/banner-bg.png");
  background-size: cover;
  background-position: center;
}
